<div> 
    <th>Salvar Tarefas</th>
    <form>
        <div class="form-group has-danger">
            <label for="descricao" class="form-control-label">Descrição :</label>
            <input type="text" class="form-control form-control-danger" placeholder="Informe a descrição"  
             required
             name="descricao">
        </div>
        <div class="form-group">
            <label for="data">Data :</label>
            <input type="data" class="form-control" placeholder="Informe a Data"         
             required
             name="data">
        </div>
        <div class="form-group">
            <label for="status">Status :</label>
            <input type="text" class="form-control" placeholder="Informe o Status" 
             required
             name="status" >
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
         <a class="btn btn-secondary" routerLink="/">Voltar </a>
    </form>
</div>